body {
  padding-bottom: 1rem;
}

h1,
h2 {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}

h1 img {
  height: 6rem;
}

h2:not(:first-of-type) {
  margin-top: 2rem;
}

.group {
  display: grid;
  grid-template-columns: repeat(auto-fill, 296px);
  justify-content: center;
  gap: 0.5rem;
}
