#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 3rem;
}

h1,
h2,
h3,
.subname {
  width: 100%;
  text-align: center;
}

h1,
h2 {
  margin: 1rem 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3rem;
}

h3 {
  margin: 0;
  font-weight: normal;
  font-size: 1.2rem;
}

.subname {
  font-size: 0.7rem;
}

h1 img {
  height: 6rem;
}

.card {
  margin-bottom: 1rem;
}

.card-images {
  --card-width: 196px;
  --slot-width: calc(2 * var(--card-width) + 0.4rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--slot-width);
}

.card-images img {
  width: var(--card-width);
}

.card-images img[src=""] {
  display: none;
}

.card.landscape .card-images {
  rotate: 90deg;
  height: var(--slot-width);
}

.card.inner .card-images,
.card.campaign .card-images {
  justify-content: center;
}

.card.inner.landscape .card-images {
  justify-content: start;
}
