#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 3rem;
}

h1,
h2,
h3 {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}

h1 img {
  height: 6rem;
}

.card {
  margin-bottom: 1rem;
}

.card-images {
  --card-width: 196px;
  display: flex;
  justify-content: space-between;
  width: calc(2 * var(--card-width) + 0.4rem);
}

.card-images img {
  width: var(--card-width);
}

.card.double-size .card-images {
  justify-content: center;
}
