:root {
  --table-padding-base: 1rem;

  --table-padding-top: max(
    env(safe-area-inset-top, 0),
    var(--table-padding-base)
  );
  --table-padding-right: max(
    env(safe-area-inset-right, 0),
    var(--table-padding-base)
  );
  --table-padding-bottom: max(
    env(safe-area-inset-bottom, 0),
    var(--table-padding-base)
  );
  --table-padding-left: max(
    env(safe-area-inset-left, 0),
    var(--table-padding-base)
  );

  --nav-bar-height: calc(
    1rem + var(--table-padding-top) + var(--table-padding-base)
  );

  --scroll-buffer: 20rem;
}

.nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: end;
  z-index: 3;

  box-sizing: border-box;
  background-color: var(--background-color);
  padding: 0 var(--table-padding-left) calc(var(--table-padding-base))
    var(--table-padding-right);
  width: 100%;
  height: var(--nav-bar-height);
}

.nav-bar a.link {
  margin: 0;
  padding: 0 5px;
}

*[class^="scroll-mask-"] {
  position: fixed;
  right: calc(-1 * var(--scroll-buffer));
  left: calc(-1 * var(--scroll-buffer));
  z-index: 2;
  background-color: var(--background-color);
}

.scroll-mask-top {
  top: calc(-1 * var(--scroll-buffer));
  height: calc(var(--scroll-buffer) + var(--nav-bar-height));
}

.scroll-mask-bottom {
  bottom: calc(-1 * var(--scroll-buffer));
  border-top: 1rem solid transparent;
  background-clip: padding-box;
  height: var(--scroll-buffer);
  pointer-events: none;
}

#tracker {
  margin-top: var(--nav-bar-height);
}

#tracker td {
  visibility: hidden;
}

#tracker td.show {
  visibility: visible;
}

/* Top left cells (Progress) */

#tracker thead > tr:first-child > th.progress,
#tracker thead > tr:nth-child(2) > th.progress {
  z-index: 2;
}

/* First row cells (Progress + Scenario) */

#tracker thead > tr:first-child > th {
  position: sticky;
  top: var(--nav-bar-height);
  z-index: 1;
  background-color: var(--background-color);
}

/* Second row cells (Progress + Difficulty) */

#tracker thead > tr:nth-child(2) > th {
  position: sticky;
  top: calc(var(--nav-bar-height) + var(--scenario-cell-height));
  z-index: 1;
  background-color: var(--background-color);
}

/* First column cells (Progress + Hero) */

#tracker tr > th:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: var(--background-color);
  padding-left: var(--table-padding-left);
}

#tracker tr > th:not(:first-child).progress {
  position: sticky;
  left: calc(
    var(--table-padding-left) + var(--progress-col) * var(--cell-width)
  );
  z-index: 1;
}

/* Last row cells */

#tracker tbody > tr:last-child > th,
#tracker tbody > tr:last-child > td {
  padding-bottom: var(--table-padding-bottom);
}

/* Last column cells */

#tracker thead > tr > th:last-child,
#tracker tbody > tr > td:last-child {
  padding-right: var(--table-padding-right);
}
