:root {
  --outline: 2px solid #6586ff;
  --outline-offset: 1px;
}

@font-face {
  src: url(fonts/BackIssuesBB_reg.otf);
  font-family: "Back Issues BB";
}

body {
  font-family: "Back Issues BB", sans-serif;
}
.keyboard-nav button:focus,
.keyboard-nav a:focus {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

