:root {
  --button-background-color: #ffeba9;
  --button-background-color-focus: #ffde65;
  --button-background-color-disabled: #dddddd;
  --button-border-and-text-color: #000000;
  --button-border-and-text-color-disabled: #444444;
}

@font-face {
  font-family: "Back Issues BB";
  src: url(fonts/BackIssuesBB_reg.otf);
}

.container {
  position: relative;
  margin: auto;
  padding: 20px;
  max-width: 1600px;
}

#logo {
  position: absolute;
  height: 80px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 10px auto;
  width: 150px;
  height: 50px;

  background-color: var(--button-background-color);
  border: 3px solid var(--button-border-and-text-color);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;

  font-family: "Back Issues BB", sans-serif;
  font-size: 1rem;
  color: var(--button-border-and-text-color);

  cursor: pointer;
}

button#shuffle-all {
  width: 180px;
  height: 60px;

  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;

  font-size: 1.2rem;
}

button:focus {
  background-color: var(--button-background-color-focus);
}

@media (hover: hover) {
  button:hover {
    background-color: var(--button-background-color-focus);
  }
}

button:disabled {
  background-color: var(--button-background-color-disabled);
  border-color: var(--button-border-and-text-color-disabled);
  color: var(--button-border-and-text-color-disabled);
}

button img {
  margin-bottom: 0.1em;
  margin-left: 0.5em;
  height: 1.2em;
}

.slots {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  gap: 20px;

  margin-top: 30px;
}

.card {
  position: relative;
  margin: auto;
  perspective: 1000px;
}

.card.portrait {
  width: 300px;
  height: 419px;
}

.card.landscape {
  width: 419px;
  height: 300px;
}

@media (max-width: 1400px) {
  .slots {
    gap: calc(0.85 * 20px);
  }

  .card.portrait {
    width: calc(0.85 * 300px);
    height: calc(0.85 * 419px);
  }

  .card.landscape {
    width: calc(0.85 * 419px);
    height: calc(0.85 * 300px);
  }
}

@media (max-width: 1200px) {
  .slots {
    gap: calc(0.7 * 20px);
  }

  .card.portrait {
    width: calc(0.7 * 300px);
    height: calc(0.7 * 419px);
  }

  .card.landscape {
    width: calc(0.7 * 419px);
    height: calc(0.7 * 300px);
  }
}

@media (max-width: 1000px) {
  .slots {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 600px) {
  #logo {
    position: relative;
    display: block;
    margin: 0 auto 20px auto;
  }

  .slots {
    grid-template-columns: auto;
    margin-top: 0;
  }
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card.portrait.flipping .card-inner {
  transform: rotateY(720deg);
}

.card.landscape.flipping .card-inner {
  transform: rotateX(-720deg);
}

.card.flipped .card-inner {
  transition: transform 0s;
}

.card.portrait .back {
  transform: rotateY(-180deg);
}

.card.landscape .back {
  transform: rotateX(180deg);
}

.card img {
  position: absolute;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;

  opacity: 1;
  transition: opacity 1s;
}

.card img:not([src]) {
  opacity: 0;
  visibility: hidden;
}
