:root {
  --container-padding: 20px;
  --container-max-width: 1600px;

  --button-background-color: #ffeba9;
  --button-background-color-hover: #ffde65;
  --button-background-color-disabled: #dddddd;
  --button-background-color-settings: #c7e6f1;
  --button-border-and-text-color: #000000;
  --button-border-and-text-color-disabled: #444444;
  --icon-button-text-color: #000000;
  --icon-button-background-color-hover: #e0e0e0;
  --icon-button-image-brightness-hover: 90%;
  --checkbox-background-color-hover: #eeeeee;
  --checkbox-border-and-check-color: #000000;

  --outline: 2px solid #6586ff;
  --outline-offset: 1px;

  --button-scale-factor: 1;
  --layout-scale-factor: 1;

  --card-header-height: 50px;
  --base-card-width: 294px;
  --base-card-height: 418px;
  --card-width: calc(var(--base-card-width) * var(--layout-scale-factor));
  --card-height: calc(var(--base-card-height) * var(--layout-scale-factor));
  --slot-height-portrait: calc(var(--card-header-height) + var(--card-height));
  --slot-height-landscape: calc(var(--card-header-height) + var(--card-width));

  --flip-duration: 1000ms;
  --card-change-delay-ms: 360; /* No units, so that value can be fetched in JavaScript. */
  --card-change-duration: calc(
    var(--flip-duration) - (var(--card-change-delay-ms) * 1ms)
  );

  --portrait-cards-in-section: 0;
  --landscape-cards-in-section: 0;
}

@font-face {
  font-family: "Back Issues BB";
  src: url(fonts/BackIssuesBB_reg.otf);
}

body {
  margin: 0;
  padding: 0;

  font-family: "Back Issues BB", sans-serif;
  overflow-y: scroll;
}

button {
  font-family: inherit;
}

button:not(:disabled) {
  cursor: pointer;
}

.keyboard-nav button:focus {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

.container {
  position: relative;

  margin: auto;
  padding: var(--container-padding);
  max-width: var(--container-max-width);
}

.container.init {
  visibility: hidden;
}

img#logo {
  position: absolute;
  height: 80px;
}

h1,
h2 {
  margin: 0;
}

button.shuffle {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  width: calc(150px * var(--button-scale-factor));
  height: calc(50px * var(--button-scale-factor));

  background-color: var(--button-background-color);
  border: 3px solid var(--button-border-and-text-color);
  border-radius: calc(10px * var(--button-scale-factor)) 0;
  outline: none;

  font-size: calc(1rem * var(--button-scale-factor));
  color: var(--button-border-and-text-color);
}

button.shuffle img {
  margin-bottom: 0.1em;
  margin-left: 0.5em;
  height: 1.2em;
}

button.shuffle#shuffle-all {
  --button-scale-factor: 1.2;
  margin: 10px auto 20px;
}

button.shuffle:active {
  background-color: var(--button-background-color-hover);
}

@media (hover: hover) {
  button.shuffle:hover {
    background-color: var(--button-background-color-hover);
  }
}

button.shuffle:disabled {
  background-color: var(--button-background-color-disabled);
  border-color: var(--button-border-and-text-color-disabled);
  color: var(--button-border-and-text-color-disabled);
}

.container.show-settings button.shuffle {
  background-color: var(--button-background-color-settings);
  border-color: var(--button-border-and-text-color);
  color: var(--button-border-and-text-color);
}

.container.show-settings .section button.shuffle {
  padding-top: 3px;
}

button#settings {
  position: absolute;
  top: calc(var(--container-padding) / 2);
  right: var(--container-padding);

  display: flex;
  flex-direction: column;
  align-items: center;

  background: none;
  border: none;
  border-radius: 10px;
  width: 70px;
  padding: 10px 0;

  font-size: 0.7rem;
  color: var(--icon-button-text-color);
}

button#settings img {
  width: 50px;
  height: 50px;
}

button#settings:active {
  background-color: var(--icon-button-background-color-hover);
}

button#settings:active img {
  filter: brightness(var(--icon-button-image-brightness-hover));
}

@media (hover: hover) {
  button#settings:hover img {
    filter: brightness(var(--icon-button-image-brightness-hover));
  }
}

button#settings:disabled {
  opacity: 0.6;
}

.container.show-settings button#settings {
  position: fixed;
  margin-right: max(
    0px,
    calc((100% - var(--container-max-width)) / 2 - var(--container-padding))
  );
}

.container:not(.show-settings) .settings-show {
  display: none;
}

.container.show-settings .settings-hide {
  display: none;
}

.sections {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  gap: 0 calc(20px * var(--layout-scale-factor));

  margin-top: 30px;
}

.section {
  margin: 10px 0;
}

.options {
  margin: 20px auto 0;
  padding: 0 10px;
  width: calc(var(--card-width) - 20px);
}

.option {
  position: relative;
  display: flex;
  align-items: center;

  margin: 0.5rem 0;

  cursor: pointer;
}

.option.all {
  font-weight: bold;
}

.option.set {
  font-style: italic;
}

.option.set-member {
  margin-left: 30px;
}

.option input {
  position: absolute;

  height: 0;
  width: 0;

  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: relative;
  flex: none;
  margin-right: 8px;

  box-sizing: border-box;
  width: 20px;
  height: 20px;

  border: 2px solid var(--checkbox-border-and-check-color);
}

.checkmark:after {
  content: "";

  position: absolute;
  display: none;
  left: 5px;

  width: 5px;
  height: 10px;

  border: solid var(--checkbox-border-and-check-color);
  border-width: 0 2px 2px 0;

  transform: rotate(40deg);
}

:checked ~ .checkmark:after {
  display: block;
}

.keyboard-nav input:focus ~ .checkmark {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

input:active ~ .checkmark {
  background-color: var(--checkbox-background-color-hover);
}

@media (hover: hover) {
  label:hover input ~ .checkmark {
    background-color: var(--checkbox-background-color-hover);
  }
}

.slots {
  perspective: calc(
    2 *
      (
        (var(--portrait-cards-in-section) * var(--slot-height-portrait)) +
          (var(--landscape-cards-in-section) * var(--slot-height-landscape))
      )
  );

  transition: perspective var(--card-change-duration);
}

.slot {
  position: relative;

  opacity: 1;

  margin: auto;
  width: var(--card-width);
  height: var(--slot-height-portrait);

  transform-style: preserve-3d;
}

.slot.landscape:not(.hidden) {
  width: var(--card-height);
  height: var(--slot-height-landscape);
}

.flipping .slot {
  transform: rotateY(720deg);
}

.container:not(.init) .slot {
  transition: transform var(--flip-duration), width var(--card-change-duration),
    height var(--card-change-duration), opacity var(--card-change-duration);
}

.container:not(.init) .flipped .slot {
  transition: none;
}

.slot.hidden {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  height: var(--card-header-height);
  padding-top: 3px;
}

h3.name {
  margin: 0;
  padding: 0 10px;

  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
}

.card {
  width: var(--card-width);
  height: var(--card-height);

  transform-style: preserve-3d;
  transform-origin: calc(var(--card-height) / 2) calc(var(--card-height) / 2);
}

.slot.landscape .card {
  transform: rotate(90deg);
}

.container:not(.init) .card {
  transition: transform var(--card-change-duration);
}

img.front,
img.back {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}

img.back {
  transform: rotateY(-180deg);
}

@media (max-width: 1400px) {
  :root {
    --layout-scale-factor: 0.85;
  }

  .name {
    font-size: 1.1rem;
  }
}

@media (max-width: 1200px) {
  :root {
    --layout-scale-factor: 0.7;
  }

  .name {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  .sections {
    grid-template-columns: auto auto;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  img#logo {
    position: relative;
    display: block;

    margin: 0 auto 20px auto;
  }

  .sections {
    grid-template-columns: auto;
    row-gap: 10px;
  }
}
