:root {
  --container-padding: 20px;
  --container-max-width: 1600px;

  --link-color: #093156;
  --link-color-hover: #5da2bf;

  --button-background-color: var(--button-background-color--default);
  --button-background-color-hover: var(
    --button-background-color-hover--default
  );
  --button-background-color-disabled: var(
    --button-background-color-disabled--default
  );
  --button-border-and-text-color: var(--button-border-and-text-color--default);
  --button-border-and-text-color-disabled: var(
    --button-border-and-text-color-disabled--default
  );

  --button-background-color--default: #ffeba9;
  --button-background-color-hover--default: #ffde65;
  --button-background-color-disabled--default: #dddddd;
  --button-border-and-text-color--default: #000000;
  --button-border-and-text-color-disabled--default: #444444;

  --button-background-color-disabled--settings: #c7e6f1;

  --button-background-color--sync: #c7f1cb;
  --button-background-color-hover--sync: #87ee91;

  --icon-button-text-color: #000000;
  --icon-button-background-color-hover: #e0e0e0;
  --icon-button-image-brightness-hover: 90%;

  --checkbox-border-and-check-color: #000000;
  --checkbox-background-color-hover: #eeeeee;
  --checkbox-background-color-checked: #ddf0f6;
  --checkbox-background-color-checked-hover: #c7e6f1;

  --outline: 2px solid #6586ff;
  --outline-offset: 1px;

  --button-scale-factor: 1;
  --layout-scale-factor: 1;

  --card-header-height: 50px;
  --base-card-width: 294px;
  --base-card-height: 418px;
  --card-width: calc(var(--base-card-width) * var(--layout-scale-factor));
  --card-height: calc(var(--base-card-height) * var(--layout-scale-factor));
  --slot-height-portrait: calc(var(--card-header-height) + var(--card-height));
  --slot-height-landscape: calc(var(--card-header-height) + var(--card-width));
  --slot-height-giant: calc(var(--card-header-height) + 2 * var(--card-width));

  --flip-duration: 1000ms;
  --card-change-delay: 360ms;
  --card-change-duration: calc(var(--flip-duration) - var(--card-change-delay));
  --unfold-duration: 600ms;

  --portrait-cards-in-section: 0;
  --landscape-cards-in-section: 0;
  --giant-cards-in-section: 0;
}

@font-face {
  src: url(fonts/BackIssuesBB_reg.otf);
  font-family: "Back Issues BB";
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  font-family: "Back Issues BB", sans-serif;
}

button {
  font-family: inherit;
}

button:not(:disabled) {
  cursor: pointer;
}

img[src=""] {
  display: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

@media (hover: hover) {
  a:hover {
    color: var(--link-color-hover);
  }
}

.keyboard-nav button:focus,
.keyboard-nav a:focus {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

.container {
  position: relative;

  margin: auto;
  padding: var(--container-padding);
  max-width: var(--container-max-width);
}

.container.init {
  visibility: hidden;
}

img#logo {
  position: absolute;
  height: 80px;
}

h1,
h2 {
  margin: 0;
}

button:not(.icon-button) {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  outline: none;
  border: 3px solid var(--button-border-and-text-color);
  border-radius: calc(10px * var(--button-scale-factor)) 0;

  background-color: var(--button-background-color);

  width: calc(150px * var(--button-scale-factor));
  height: calc(50px * var(--button-scale-factor));

  color: var(--button-border-and-text-color);
  font-size: calc(1rem * var(--button-scale-factor));
}

button:not(.icon-button) img {
  margin-bottom: 0.1em;
  margin-left: 0.5em;
  height: 1.2em;
}

button:not(.icon-button):active {
  background-color: var(--button-background-color-hover);
}

button:not(.icon-button):disabled {
  border-color: var(--button-border-and-text-color-disabled);
  background-color: var(--button-background-color-disabled);
  color: var(--button-border-and-text-color-disabled);
}

@media (hover: hover) {
  button:not(.icon-button):hover {
    background-color: var(--button-background-color-hover);
  }

  button:not(.icon-button):hover:disabled {
    background-color: var(--button-background-color-disabled);
  }
}

button.shuffle#shuffle-all {
  --button-scale-factor: 1.2;
  margin: 10px auto 20px;
}

.container.show-settings button.shuffle:disabled {
  --button-background-color-disabled: var(
    --button-background-color-disabled--settings
  );
  --button-border-and-text-color-disabled: var(
    --button-border-and-text-color--default
  );
}

.container.show-settings .section button.shuffle {
  padding-top: 3px;
}

button.icon-button {
  display: flex;
  position: absolute;
  top: calc(var(--container-padding) / 2);
  right: var(--container-padding);

  flex-direction: column;
  align-items: center;

  border: none;
  border-radius: 10px;

  background: none;

  padding: 10px 0;
  width: 70px;

  color: var(--icon-button-text-color);
  font-size: 0.7rem;
}

button.icon-button img {
  width: 50px;
  height: 50px;
}

button.icon-button:active {
  background-color: var(--icon-button-background-color-hover);
}

button.icon-button:active img {
  filter: brightness(var(--icon-button-image-brightness-hover));
}

@media (hover: hover) {
  button.icon-button:hover img {
    filter: brightness(var(--icon-button-image-brightness-hover));
  }
}

button.icon-button:disabled {
  opacity: 0.6;
}

.container.show-settings button.icon-button {
  position: fixed;
  margin-right: max(
    0px,
    calc((100% - var(--container-max-width)) / 2 - var(--container-padding))
  );
}

.container:not(.show-settings) .settings-show {
  display: none !important;
}

.container.show-settings .settings-hide {
  display: none !important;
}

button#copy-sync-url {
  --button-background-color: var(--button-background-color--sync);
  --button-background-color-hover: var(--button-background-color-hover--sync);

  margin-top: 40px;
  width: 200px;
}

#sync-url {
  margin-top: 1rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.sections {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 0 calc(20px * var(--layout-scale-factor));

  margin-top: 30px;
}

.section {
  position: relative;
  margin: 10px 0;
}

#hero {
  /* Non-zero z-index for giant card fold out. */
  z-index: 1;
}

.options {
  margin: 20px auto 0;
  padding: 0 10px;
  width: calc(var(--card-width) - 20px);
}

.option {
  display: flex;
  position: relative;
  align-items: center;

  cursor: pointer;

  margin: 0.5rem 0;
}

.option.all {
  font-weight: bold;
}

.option.set {
  font-style: italic;
}

.option.set-member {
  margin-left: 30px;
}

.option input {
  position: absolute;

  opacity: 0;
  cursor: pointer;

  width: 0;
  height: 0;
}

.checkmark {
  position: relative;
  flex: none;

  box-sizing: border-box;
  margin-right: 8px;

  border: 2px solid var(--checkbox-border-and-check-color);
  width: 20px;
  height: 20px;
}

:checked ~ .checkmark {
  --checkbox-background-color-hover: var(
    --checkbox-background-color-checked-hover
  );
  background-color: var(--checkbox-background-color-checked);
}

.checkmark:after {
  display: none;

  position: absolute;
  left: 5px;

  transform: rotate(40deg);

  border: solid var(--checkbox-border-and-check-color);
  border-width: 0 2px 2px 0;

  width: 5px;
  height: 10px;

  content: "";
}

:checked ~ .checkmark:after {
  display: block;
}

.keyboard-nav input:focus ~ .checkmark {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

input:active ~ .checkmark {
  background-color: var(--checkbox-background-color-hover);
}

@media (hover: hover) {
  label:hover input ~ .checkmark {
    background-color: var(--checkbox-background-color-hover);
  }
}

.slots {
  transition: perspective var(--card-change-duration);
}

.flipping .slots {
  perspective: calc(
    2 *
      (
        (var(--portrait-cards-in-section) * var(--slot-height-portrait)) +
          (var(--landscape-cards-in-section) * var(--slot-height-landscape)) +
          (var(--giant-cards-in-section) * var(--slot-height-giant))
      )
  );
}

#hero.giant .slots {
  --portrait-cards-in-section: 0;
  --landscape-cards-in-section: 0;
  --giant-cards-in-section: 1;
}

.slot {
  position: relative;

  transform-style: preserve-3d;

  opacity: 1;

  margin: auto;
  width: var(--card-width);
  height: var(--slot-height-portrait);
}

.slot.landscape:not(.hidden) {
  width: var(--card-height);
  height: var(--slot-height-landscape);
}

#hero.giant .slot {
  width: var(--card-height);
  height: var(--slot-height-giant);
}

#hero.wide .slot {
  width: calc(2 * var(--card-width));
}

.flipping .slot {
  transform: rotateY(720deg);
}

.container:not(.init) .slot {
  transition:
    transform var(--flip-duration),
    width var(--card-change-duration),
    height var(--card-change-duration),
    opacity var(--card-change-duration);
}

.container:not(.init) .flipped .slot {
  transition: none;
}

.slot.hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  padding-top: 3px;

  height: var(--card-header-height);
}

h3.name {
  margin: 0;
  padding: 0 10px;

  font-weight: normal;
  font-size: 1.2rem;
  text-align: center;
}

.card {
  transform-origin: calc(var(--card-height) / 2) calc(var(--card-height) / 2);
  transform-style: preserve-3d;

  width: var(--card-width);
  height: var(--card-height);
}

.slot.has-giant-form,
.slot.has-wide-form {
  cursor: zoom-in;
}

#hero.giant .slot,
#hero.wide .slot {
  cursor: zoom-out;
}

.section:not(.flipping) .slot.has-giant-form .card {
  perspective: calc(2 * var(--slot-height-giant));
}

.section:not(.flipping) .slot.has-wide-form .card {
  perspective: calc(2 * var(--slot-height-portrait));
}

.slot.landscape .card {
  transform: rotate(90deg);
}

.container:not(.init) .card {
  transition: transform var(--card-change-duration);
}

#hero.giant .card {
  transform: rotate(90deg);
}

.front,
.back {
  position: absolute;

  transform-style: preserve-3d;
  backface-visibility: hidden;

  width: 100%;
  height: 100%;
}

.card > .back {
  transform: rotateY(-180deg) translateZ(1px);
}

.back {
  transform: rotateY(-180deg);
}

.card > .front {
  transform-origin: right;
  transition: transform var(--unfold-duration);
}

.flipping .card > .front {
  transition: transform var(--card-change-delay);
}

#hero.giant .card > .front,
#hero.wide .card > .front {
  transform: rotateY(180deg);
}

#tracking {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  opacity: 1;
  transition: opacity calc(var(--card-change-duration) * 0.75);
}

.shuffling #tracking {
  opacity: 0;
}

#tracker thead > tr:first-child > th:first-child > div {
  justify-content: flex-end;
}

#tracker #total-fraction {
  font-size: 1.2rem;
}

#tracker #total-fraction > span::before {
  content: "";
}

#tracker #total-fraction > span::after {
  content: "";
}

#tracker #total-percentage > span,
#tracker #standard-percentage > span,
#tracker #expert-percentage > span {
  display: none;
}

#tracking a {
  display: block;
  border-radius: 3px;
  padding: 5px;
}

@media (max-width: 1400px) {
  :root {
    --layout-scale-factor: 0.85;
  }

  .name {
    font-size: 1.1rem;
  }
}

@media (max-width: 1200px) {
  :root {
    --layout-scale-factor: 0.7;
  }

  .name {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  .sections {
    grid-template-columns: auto auto;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  img#logo {
    display: block;
    position: relative;

    margin: 0 auto 20px auto;
  }

  .sections {
    grid-template-columns: auto;
    row-gap: 10px;
  }
}
